<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="noindex,nofollow" />
<meta name="googlebot" content="noindex,nofollow" />
<title>サーバエラー</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<style>
<!--
body {
	padding-top: 50px;
}

.navbar-brand {
	font-size: 24px;
}

.form-group {
	margin-bottom: 5px;
}
-->
</style>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-push-3 col-md-6">
				サーバエラーが発生しました。<br /> <a th:href="@{/index}">ホームへ戻る</a>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	<script type="text/javascript">
	<!--
		$(document).ready(function() {
			$('#id').focus();
		});
		-->
	</script>
</body>
</html>