<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>TweetLooper</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
<!--
	function disp(id) {
		// 「OK」時の処理開始 ＋ 確認ダイアログの表示
		if (window.confirm('削除します。よろしいですか？')) {
			location.href = "/tt_delete?id=" + id;
		}
		// 「キャンセル」時の処理開始
		else {
		}
	}
// -->
</script>

</head>

<body>

	<div id="container">

		<div id="header">
			<div class="row">
				<div class="col-md-9">
					<h2>
						<a href="/index">TweetLooper</a>
					</h2>
				</div>
				<div class="col-md-3">
					<span th:text="${username}"></span>&ensp;&ensp;<a
						th:href="@{/logout}" class="btn btn-default btn-xs">ログアウト</a>
				</div>
			</div>
			<div class="row" th:if="${mta != null}">
				<h4>
					<span th:text="'@' + ${mta.screenname} + '、 フォロー：' + ${mta.friendsnum} + '、 フォロワー：' + ${mta.followersnum}"></span>
				</h4>
			</div>
			<br clear="all" class="clear" />
		</div>

		<div id="wrapper">

			<table border="0" cellspacing="15" cellpadding="0">
				<tr>
					<td id="side">
						<div id="menu">
							<ul>
								<li class="normal"><span class="cicle">◆</span><a
									href="/index">ループツイート</a></li>
								<li class="normal"><span class="cicle">◆</span><a
									href="/teiki">定期ツイート</a></li>
								<li class="normal"><span class="cicle">◆</span><a
									href="/search">検索</a></li>
								<li class="last"><span class="cicle">◆</span><a
									href="/setting">設定</a></li>
							</ul>

							<br />
						</div>
					</td>

					<td id="main">
						<div class="contents">
							<div class="row">
								<h3>定期ツイート</h3>
							</div>
							<div class="row">
								<div class="text,col-md-12">
									&ensp;&ensp;「ツイート一覧」のツイートを<a href="/setting">設定</a>に従い定期的にツイートします。
								</div>
							</div>
							<br />
							<div class="row">
								<h3>定期ツイートを追加</h3>
							</div>
							<div class="row">
								<div class="text,col-md-12">
									&ensp;&ensp;定期ツイートに追加する文字列を入力してください（140文字）</div>
							</div>
							<br />
							<form role="form" action="#" th:action="@{/ttadd}" method="post"
								id="ttform" autocomplete="off">
								<div class="row">
									<div class="col-md-11">
										<div class="form-group">
											<textarea name="tt" id="tt" class="form-control"
												placeholder="定期ツイートを追加します" required="required"
												maxlength="140" cols="70" rows="2"></textarea>
										</div>
									</div>
									<div class="col-md-1"></div>
								</div>
								<div class="row">
									<div class="col-md-9"></div>
									<div class="col-md-2">
										<button id="btn-add" class="btn btn-primary">追加</button>
									</div>
									<div class="col-md-1"></div>
								</div>
							</form>
							<br />
							<div class="row">
								<h3>
									定期ツイート一覧 （<span th:text="${listsize}"></span>件）
								</h3>
							</div>
							<p th:if="${#lists.isEmpty(teikitws)}">ツイートはありません</p>
							<table class="table table-striped"
								th:if="${not #lists.isEmpty(teikitws)}">
								<thead>
									<tr>
										<th class="col-md-10">ツイート</th>
										<th class="col-md-2">操作</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="teikitw : ${teikitws}">
										<td th:text="${teikitw.msg}"></td>
										<td><a href="#"
											th:onclick="'disp('+${teikitw.tt_id}+');'"
											class="btn btn-default btn-xs">削除</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</td>
				</tr>
			</table>
		</div>

		<div id="copyright">

			Copyright（c）2015 <a href="http://noboke.sblo.jp/">TrueWalk</a> all
			rights reserved.

		</div>
	</div>
</body>
</html>
